








body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bookbg2.jpg');
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0.6em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
}


article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
article img {
    width: 150px; /* Set the image width to 150px */
    height: 225px; /* Set the image height to 225px */
    margin: 10px; /* Add some margin around the image */
}
article p {
    flex: 1; /* Make the paragraph take up the remaining space */
    margin: 10px; /* Add some margin around the paragraph */
}
